.container {
    background-image: linear-gradient(45deg, orange, red);
    box-shadow: 0 0 20px orangered;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.input {
    width: 75%;
    height: 1.8rem;
    margin: 2rem auto;
    border-radius: 2px;
}

.input:focus {
    outline: none;
}

.skeleton {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .container {
        padding: 10px;
    }
}